:root {
	--bg: rgba(0, 43, 54, 1);
	--fg: rgba(7, 54, 66, 1);
	--gray1: rgba(88, 110, 117, 1);
	--gray2: rgba(101, 123, 131, 1);
	--tan1: rgba(238, 232, 213, 1);
	--tan2: rgba(253, 246, 227, 1);
	--red: rgba(220, 50, 47, 1);
	--orange: rgba(203, 75, 22, 1);
	--yellow: rgba(181, 137, 0, 1);
	--green: rgba(133, 153, 0, 1);
	--teal: rgba(42, 161, 152, 1);
	--blue: rgba(38, 139, 210, 1);
	--pink: rgba(211, 54, 130, 1);
}
* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	background: var(--bg);
	color: var(--tan2);
	margin: 0;
	padding: 0;
}
