html,
body {
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h5 {
	color: var(--tan1);
	font-weight: 800;
}

a {
	text-decoration: none;
	font-weight: 800;
	color: var(--green);
	font-size: 1.2rem;
}

button {
	text-decoration: none;
	font-weight: 800;
	font-size: 1.2rem;
}

.mark {
	display: inline-block;
	background: var(--teal);
	transform: rotate(-2deg);
	padding: 5px;
	border-radius: 0.5rem;
}
